/* color definition */

$blue           : #22678C;
$turquoise      : #75716f;
$turq           : rgb(109, 169, 171);
$lighterBlue    : #48525C;
$yellow         : #ffa949;

/* styling the elements */

footer {
    background-color: $turq;
}